@{
    ViewData["Title"] = "Carros";
}
<head>
<link rel="stylesheet" href="~/css/Pages/carro.css" />
</head>

<div id="mySidenav" class="sidenav">
  <h2>Modelos disponíveis: </h2>
  <ul>
    <li>S.U.V</li>
    <li>Esportivo</li>
    <li>Performace</li>
    <li>Utilitario</li>
  </ul>
</div>

<div id="main">
  
</div>